{% extends "base.html.twig" %}
{% block title %} Dades Equips {% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('assets/css/estilsEquip.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% if equip %}
        <h1 id="titolEquip">Dades d'Equip {{ equip.codi }} </h1>
            <p class="paragrafEquip">PROJECTE 2N DAW
                <br>
                <img class="imatgeEquip" src=" {{ asset('assets/img/alegria.jpeg') }} ">
            </p>
            <div class="caja1">
                <div id="equip">
                    <ul>
                        <li><strong>Codi : </strong> {{ equip.codi }}  </li>
                        <li><strong>Nom : </strong> {{ equip.nom }} </li>
                        <li><strong>Code : </strong> {{ equip.cicle }} </li>
                        <li><strong>Curs : </strong> {{ equip.curs }} </li>
                        <li><strong>Membres : </strong> <br>
                            {% for i in equip.membres %}
                                <a> {{ i }} </a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
            <p id="inicio">
                <img src=" {{ asset('assets/img/casa.png') }}  " alt="">
                <a href=" {{ path('inici') }} ">Torna a l'inici</a>
            </p>
    {% else %}
        <h1 id="titolEquip">Dades d'Equip </h1>
        <p class="paragrafEquip">Projecte 2n DAW
            <br>
            <img class="imatgeEquip" src=" {{ asset('assets/img/tristeza.jpeg') }} ">
        </p>
        <div id="inicio">
            <p id="no_trobat">Equip no trobat</p>
        </div>
        <p id="inicio">
                <img src=" {{ asset('assets/img/casa.png') }}  " alt="">
                <a href=" {{ path('inici') }} ">Torna a l'inici</a>
        </p>
        
    {% endif %}
{% endblock %}
