{% extends "base.html.twig" %}
{% block title %} Dades Equips {% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('assets/css/estilsEquip.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% if equips %}     
        {% for equip in equips %}
            <h1 id="titolEquip">Dades d'Equip {{ equip.id }} </h1>  
                <p class="paragrafEquip">PROJECTE 2N DAW
                    <br>
                    <img class="imatgeEquip" src="{{ asset(equip.imatge) }}" alt=" {{ equip.nom }} " />
                </p>    
                <div class="caja1">
                    <div id="equip">
                        <ul>
                            <li><strong>Codi : </strong> {{ equip.id }}  </li>
                            <li><strong>Nom : </strong> {{ equip.nom }} </li>
                            <li><strong>Cicle : </strong> {{ equip.cicle }} </li>
                            <li><strong>Curs : </strong> {{ equip.curs }} </li>
                            <li><strong>Nota : </strong> {{ equip.nota }} </li>
                        </ul>
                    </div>
                </div>
                <p id="inicio">
                    <img src=" {{ asset('assets/img/casa.png') }}  " alt="">
                    <a href=" {{ path('inici') }} ">Torna a l'inici</a>
                    <a class="lapiz" href="{{ path('edicio_equip') }}/{{equip.id}}">
                        <img src="{{ asset('/assets/img/lapiz.jpeg') }}" alt="" class="lapiz" width="30px"> Editar l'equip
                    </a>
                </a>
                </p>
            {% endfor %}
            
        
    {% else %}
        <h1 id="titolEquip">Dades d'Equip </h1>
        <p class="paragrafEquip">Projecte 2n DAW
            <br>
            <img class="imatgeEquip" src=" {{ asset('/assets/img/equips/tristeza.jpeg') }} ">
        </p>
        <div id="inicio">
            <p id="no_trobat">Equip no trobat</p>
        </div>
        <p id="inicio">
                <img src=" {{ asset('assets/img/casa.png') }}  " alt="">
                <a href=" {{ path('inici') }} ">Torna a l'inici</a>
        </p>
    {% endif %}
{% endblock %}
